#background-image {
    background-image: url(../img/Baseball-Anime.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    background: rgba(220, 220, 220, 0.4);
}

a {
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card {
    opacity: .8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-header {
    background-color: black;
    text-align: center;
    color: antiquewhite;
    font-size: larger;
}

.card-body {
    background: rgba(220, 220, 220, 0.5);
}

@media screen and (max-width: 992px) {
    .row {
        flex-direction: column;
        margin-top: 2rem;
    }

    .card {
        margin-top: 1rem;
    }
}